.courses-main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.courses-container {
    background-color: rgb(228 241 235);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}