.break-btn {
    background-color: rgb(203, 194, 194);
    border-radius: 10px;
}

.break-btn button {
    border: none;
    background-color: rgb(253, 252, 255);
    font-size: 20px;
    margin: 8px;
    border-radius: 19px;
    padding: 6px;
}

.break-btn button:hover {
    background-color: rgb(39, 78, 219);
    color: #fff;
}

.break h3 {
    margin-top: 40px;
}

.break h5 {
    padding-left: 12px;
}

.break-seconds {
    background-color: rgb(203, 194, 194);
    padding: 20px;
    border-radius: 10px;
}

.break-seconds span {
    margin-left: 9px;
    color: rgb(84 91 112)
}