.total-times {
    background-color: rgb(203, 194, 194);
    padding: 20px;
    border-radius: 10px;
}

.total-times span {
    margin-left: 9px;
    color: rgb(84 91 112)
}

.add-break {
    margin-top: 30px;
}

.final-button {
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(16, 20, 231);
    font-size: 20px;
    padding: 19px 15px;
    margin-top: 15px;
    border-radius: 10px;

}